<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
</style>
<body>
    <h2 class="title" th:if="!${visitor}" th:text="'This is my cv'"></h2>
    <h2 class="title" th:if="${visitor}" th:text="'Hello, ' + ${visitor} + '!'"/></h2>
    <h2 class="title" th:if="${visitor}" th:text="${visitor} + ' I hope you interested to hire me!'"/></h2>

    <h1>Name</h1>
    <h3>Kevin Prakasa <small>Anggono</small></h3>
    <h1>Birthday & Birthplace</h1>
    <h3>14 April 1998, Surabaya</h3>
    <h1>Address</h1>
    <h3>Jalan Raya Rungkut Mapan FB3 Surabaya</h3>
    <h1>Education History</h1>
    <h3>Universitas Indonesia</h3>
    <h3>2016 - 2020</h3>
    <h3>SMAK ST.LOUIS 1 SURABAYA</h3>
    <h3>2013 - 2016</h3>

</body>
</html>